.flogrthumbs.initialized {
    height: 95px;
}

.flogrthumbs.initialized .thumbs {
    height: 78px;
    overflow-y: auto;
    overflow-x: hidden;
}

.flogrthumbs.loading {
    background: transparent url(images/loading.gif) no-repeat scroll center center;
}

.flogrthumbs a {
    background: none !important;
    padding-right: 0 !important;
    margin: 3px 3px 0 0;
    display: inline-block;
    width: 78px;
}

